hr{
    width: 5%;
   border: none;
   background: transparent;
    border-top: 10px dotted green;
 

    
}
*{
/* margin: 0%;
padding: 0px; */
}
h1{
color: blueviolet;


}
body{
background-color: brown;



}